body {
    margin: 0%;
    background-color: rgb(0, 0, 0);
    /* background-color: hsl(241, 91%, 13%); */
}

h3, h5 {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    background-color: t;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    color: silver;
}

.profile {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding-left: 50px;
}

.profile li {
    padding: 4px;
}

.profile-right {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0%;
    padding-right: 54px;
    padding-inline-start: 0%;
}

.profile-right li {
    padding: 4px;
}

.quest-window {
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quest-window-box {
    height: 550px;
    width: 380px;
    background: radial-gradient(circle at center, #27496D, #142850);
    /* background: linear-gradient(135deg, #27496D, #142850); */
    /* background-color: rgba(114, 54, 226, 0.151); */
    display: flex;
    justify-content: center;
    color: silver;
    border: 2px solid rgb(51, 218, 255);
    border-radius: 2px;
    box-shadow: 
        0 0 1px rgb(1, 208, 255),
        0 0 3px rgb(1, 208, 255),
        0 0 10px rgb(0, 208, 255),
        0 0 40px rgb(0, 168, 204),
        0 0 80px rgb(0, 168, 204),
        0 0 1000px rgb(0, 168, 204),
        inset 0 0 5px rgb(0, 208, 255),
        inset 0 0 12px rgb(0, 208, 255);

    backdrop-filter: blur(6px);
}

.quest-window-box::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 
        0 0 10px rgb(0, 168, 204),
        0 0 20px rgb(0, 168, 204),
        0 0 40px rgb(0, 168, 204)
        inset 0 0 10px rgb(0, 168, 204);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    opacity: 0.8;
}

